:root {
  /* colors */
  --dark: #2e2f42;
  --pressed-state: #404bbf;
  --primary-brand: #4d5ae5;
  --hero-color: #ffffff;
  --text: #434455;
  --light: #f4f4fd;
  --accent: #e7e9fc;

  /* cell */
  --items: 4;
  --itema-gap: 24px;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--dark);
}

.link {
  color: currentColor;
  text-decoration: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  border: none;
  color: currentColor;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 1158px;
}

.section {
  padding: 120px 0;
}

/* <cell> */
.flex-container {
  display: flex;
  gap: var(--itema-gap);
  flex-wrap: wrap;
}

.flex-container-item {
  flex-basis: calc(
    (100% - (var(--items) - 1) * var(--itema-gap)) / var(--items)
  );
  height: auto;
}
/* </cell> */

/* <HEADER> */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-content {
  display: flex;
  align-items: center;
}

.logo-nav {
  display: flex;
}

.website-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;

  line-height: 1.333;
  letter-spacing: 0.03em;

  text-transform: uppercase;
}

.logo-web {
  color: var(--primary-brand);
}

.navigation {
  margin-right: auto;
}

.navigation-list {
  margin-left: 76px;
  display: flex;
  gap: 40px;
}

.navigation-link {
  display: inline-block;
  padding: 24px 0;

  font-size: 16px;
  font-weight: 500;

  line-height: 1.5;

  letter-spacing: 0.02em;
}

.navigation-link:focus,
.navigation-link:hover {
  color: var(--pressed-state);
}

.contacts-info-list {
  display: flex;
  gap: 40px;
}

.contact-info {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--text);
}

.contact-info:focus,
.contact-info:hover {
  color: var(--pressed-state);
}
/* </HEADER> */

/* <SCETION HERO> */
.hero {
  padding: 188px 0;
  text-align: center;

  background-color: var(--dark);
}

.hero-title {
  margin-top: 0;
  margin-bottom: 46px;
  font-size: 56px;

  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--hero-color);
}

.hero-button {
  display: inline-block;
  padding: 16px 32px;

  background: var(--primary-brand);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  letter-spacing: 0.04em;
  color: var(--hero-color);
}

.hero-button:focus,
.hero-button:hover {
  background-color: var(--pressed-state);
}
/* </SCETION HERO> */

/* <BENEITS SECTION> */

.benefits {
  padding-bottom: 0;
}

.benefits-item-title {
  margin-top: 0;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;

  line-height: 1.2;
  letter-spacing: 0.02em;
}

.benefits-item-text {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
/* </BENEITS SECTION> */

/* <ACTIVITY SECTION> */
.activity-list {
  --items: 3;
}

.activity-title {
  margin-top: 0;
  margin-bottom: 72px;
  font-size: 36px;

  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
/* </ACTIVITY SECTION> */

/* <OUT TEAM SECTION> */
.team {
  background-color: var(--light);
}

.member {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

  border-radius: 0px 0px 4px 4px;

  text-align: center;
}

.team-title {
  margin-top: 0px;
  margin-bottom: 72px;
  font-size: 36px;

  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.member-info {
  padding: 32px 0;
}

.member-name {
  margin-top: 0;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;

  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}

.member-occupation {
  margin: 0;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}

.member-img {
  display: block;
}
/* </OUT TEAM SECTION> */

/* <SOLUTIONS SECTION> */

.sort-buttons-list {
  justify-content: center;
  margin-bottom: 72px;
}

.sort-buttons-item {
  flex-basis: auto;
}

.sort-button {
  padding: 12px 24px;
  background: var(--light);

  border-radius: 4px;

  letter-spacing: 0.04em;
  color: var(--primary-brand);
}

.sort-button:focus,
.sort-button:hover {
  background-color: var(--pressed-state);
  color: #fff;
}

.solutions-list {
  --items: 3;
  row-gap: 48px;
}

.solution-img {
  display: block;
}

.solution-title {
  margin-top: 0;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;

  line-height: 1.2;
  letter-spacing: 0.02em;
}

.solution-class {
  margin: 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

.info-wrapper {
  padding: 32px 16px;
  background-color: #ffffff;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/* </SOLUTIONS SECTION> */

/* <FOOTER> */
.footer {
  background-color: var(--dark);
  color: var(--light);

  padding: 100px 0;
}

.inspire-text {
  margin-bottom: 0;
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  width: 264px;
}
/* </FOOTER> */
